# Reports
1. Inputs: raw data from kaggle
2. Outputs: predicts and probabilitys
3. ...

# 1.0 Imports

###### 1.1 Libraries

In [1]:
import pandas as pd
import numpy as np

import requests

import time
import warnings

# Tempo de processamento
time_agora = time.time()

###### 1.2 Colecting data

In [2]:
df_raw = pd.read_csv('D:\\My Drive\\Pessoal\\Projetos\\bank_churn_predict\\bank_churn_predict\\churn.csv')

# 2.0 Predictions

###### 2.1 Simulating data from requests

In [3]:
request_1 = df_raw.drop('Exited', axis=1).sample(1)
request_1_json = request_1.to_json(orient='records')

request_varios = df_raw.drop('Exited', axis=1).sample(100)
request_varios_json = request_varios.to_json(orient='records')

###### 2.2 Request

In [4]:
received = requests.post(url='http://192.168.15.26:5000/predict', 
                         data=request_varios_json, 
                         headers={'Content-type':'application/json'})
received.status_code

200

###### 2.3 Received

In [5]:
df_predict = pd.DataFrame(received.json(), columns=received.json()[0].keys())
df_predict.head(5)

,CreditScore,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_enc,Log_Age,Tenure_Exited_Mean,Geography_1,Geography_2,predictions,probabilitys
0,-0.177665,-1.240072,4.229792,0.636608,-1.028992,0.022984,-1.083862,240.379634,-13.319581,-0.573226,-0.572951,0,0.381912
1,-0.032675,-1.240072,-0.908722,0.636608,0.971825,1.188428,0.922627,221.678272,-13.171281,-0.573226,-0.572951,0,0.273485
2,0.516216,-1.240072,0.804116,0.636608,0.971825,0.810807,0.922627,234.168769,-13.263999,-0.573226,-0.572951,0,0.273485
3,-1.006179,0.648427,0.804116,-1.570825,-1.028992,-0.077413,-1.083862,223.612281,-13.277318,-0.573226,-0.572951,1,0.571717
4,0.153741,0.747355,-0.908722,0.636608,0.971825,1.361126,0.922627,241.846036,-13.262450,-0.573226,-0.572951,0,0.273485