# 0.0 Importando e carregando coisas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from xgboost import XGBRFClassifier

In [2]:
churn = pd.read_csv('C:\\Users\\Notebook\\Google Drive\\Pessoal\\Projetos\\preditor_churn_banco\\churn.csv')

In [3]:
churn.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# 1.0 Explorando dados

In [4]:
churn['Exited'].mean()

0.2037

A feature target Ã© desbalanceada, com 20% de churn.

In [5]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
churn.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
churn.describe(include='object')

       Surname Geography Gender
count    10000     10000  10000
unique    2932         3      2
top      Smith    France   Male
freq        32      5014   5457

In [8]:
churn['Geography_enc'] = LabelEncoder().fit_transform(churn['Geography'])
churn['Gender_enc'] = LabelEncoder().fit_transform(churn['Gender'])

In [9]:
churn.drop('CustomerId', axis=1).corr()['Exited'].sort_values(ascending=False)[1:]

Age                0.285323
Balance            0.118533
Geography_enc      0.035943
EstimatedSalary    0.012097
HasCrCard         -0.007138
Tenure            -0.014001
RowNumber         -0.016571
CreditScore       -0.027094
NumOfProducts     -0.047820
Gender_enc        -0.106512
IsActiveMember    -0.156128
Name: Exited, dtype: float64

# 3.0 Modelando

In [10]:
# One hot encoding
temp = pd.get_dummies(churn['Geography_enc'], prefix='Geography', drop_first=True)
matrix = pd.concat([churn, temp], axis=1)

# Removendo features objects categÃ³ricas ids e etc
features_remover = 'CustomerId Surname Geography Gender Geography_enc RowNumber'.split()
matrix.drop(features_remover, axis=1, inplace=True)

# Splits
X = matrix.drop('Exited', axis=1)
y = matrix['Exited']

# Normalizando
scaler = StandardScaler()
X_scaler = scaler.fit_transform(X)
X_scaler = pd.DataFrame(X_scaler, columns = X.columns)

# Escondendo o test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

# Escondendo o test
X_train_, X_valid, y_train_, y_valid = train_test_split(X_train, y_train, test_size=0.3, random_state=101)

# Rodando o modelo
model = XGBRFClassifier(use_label_encoder=False)
model.fit(X_train_, y_train_, eval_metric='error')
predict = model.predict(X_valid)
print(classification_report(y_valid, predict))

              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1923
           1       0.76      0.45      0.57       477

    accuracy                           0.86      2400
   macro avg       0.82      0.71      0.74      2400
weighted avg       0.85      0.86      0.85      2400

# Ciclo 1 completo
Rodar o modelo o mais simples possÃ­vel
# Ciclo 2 Ã  seguir
Tratar o desbalanceamento e entender melhor as distribuiÃ§Ãµes das features